.navbar-brand{
    font-family: 'Petemoss', cursive;
    font-size: 4em;
    font-weight: bold;
    color: #fff;
}
.checked{
    color:#00cc44;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  
